$color-clouds: #ecf0f1;
$color-emerald: #2ecc71;
$color-orange: #f39c12;
$color-pumpkin: #d35400;
$color-green-sea: #16a085;
$color-wisteria: #8e44ad;
$color-asbestos: #7f8c8d;

$refero-colors: (
  "emerald": $color-emerald,
  "orange" : $color-orange,
  "pumpkin" : $color-pumpkin,
  "green-sea" : $color-green-sea,
  "wisteria" : $color-wisteria,
  "asbestos" : $color-asbestos,
) !default;

$refero-breakpoint: 992px !default;
$refero-background: lighten($color-clouds, 5%) !default;
$refero-border-radius: 0 0 7px 7px !default;
$refero-border-style: solid !default;
$refero-border-width: 0 4px 7px !default;
$refero-box-shadow: 0 0 4px #aaa !default;
$refero-color-default: $color-emerald !default;
