---
layout: default
---
<div class="bg-light">
    <br>
    <div class="container">
        <div class="jumbotron bg-dark">
            <h1 class="text-white">refero-list</h1>
            <hr class="text-white bg-white">
            <p class="lead text-white">
                Refero list is a simple and fun css list you can add to your website. Hover or tap an item to get an
                info block where you can add extra info. Just try and enjoy! Check out the
                <a href="{{ site.github_url }}" class="text-success"><i class="fa fa-github"></i> github</a> for instructions.
            </p>
        </div>
    </div>

    <div class="container">
        {% for i in (1..10) %}
            <article role="presentation" class="refero">
                <div class="refero-block"></div>
                <h2 class="refero-title">
                    <div class="refero-icon">
                        <i class="fa fa-fw fa-bell"></i>
                    </div>
                    Refero item no {{ i }}
                </h2>
                <div class="refero-more">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt laudantium minima
                        numquam obcaecati similique tempora voluptas? Accusamus aliquid cum, eius error id iusto maiores
                        perspiciatis quae quos repellat voluptas.
                    </p>
                    <a href="{{ site.github_url }}" aria-label="Check it out on github" class="refero-btn">
                        Check it out on github
                    </a>
                </div>
            </article>
        {% endfor %}
    </div>
    <br><br><br><br><br><br><br>
    {% include footer.html %}
</div>